/* stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stile header */
header{
    margin: 10px;
    padding: 10px;
    background-color: white;
}

header img{
    vertical-align: middle;
    line-height: 50px;
}

header span{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
}


/* stile main */
main{
    background-color:#eeeeee;
    padding: 20px;
}

#container{
    width: 60%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 3px;
}

/* sezione opzioni */
#options{
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    border-bottom: solid lightgray 1px;
}

.add{
    border-radius: 5px;
    padding: 5px;
}

#task{
    background-color: rgb(40, 198, 251);
    border: solid rgb(40, 198, 251) 1px;
    color: white;
}

#add_section{
    color: lightgray;
    border: solid lightgray 1px;
}

/* sections */
.division{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 35px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.item{
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.to_do{
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.theme{
    font-size: 13px;
    background-color: rgb(40, 198, 251);
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.symbol{
    color: rgb(71, 197, 125);
    border: solid  rgb(71, 197, 125) 1px;
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
}

#last{
    padding-bottom: 20px;
}