/* stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stile header */
header{
    margin: 10px;
    padding: 10px;
    background-color: white;
}

header img{
    vertical-align: middle;
    line-height: 50px;
}

header span{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
}


/* stile main */
main{
    background-color: lightgray;
    padding: 20px;
}

#container{
    width: 60%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 3px;
    min-height: 200px;
}

/* sezione opzioni */
#options{
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    border-bottom: solid lightgray 1px;
}

.add{
    border-radius: 5px;
    padding: 5px;
}

#task{
    background-color: rgb(40, 198, 251);
    border: solid rgb(40, 198, 251) 1px;
    color: white;
}

#add_section{
    color: lightgray;
    border: solid lightgray 1px;
}

/* sezione new task */